html,
body {
  height: 100%;
}
.eleme-wrapper {
  height: 100%;
  padding: 0;
}
.eleme-navbar {
  background-color: #3190e8;
  border-radius: 0;
  border: none;
}
.eleme-navbar .navbar-right li a {
  color: #fff;
}
.eleme-navbar .navbar-toggle {
  float: right;
  border: none;
}
.eleme-navbar .navbar-toggle:active {
  background: transparent;
}
.eleme-navbar .navbar-toggle:visited {
  background: transparent;
}
.eleme-navbar .navbar-toggle:hover {
  background: transparent;
}
.eleme-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
.eleme-footer {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
  color: #666;
}
.recent-posts-hint {
  color: #999;
  font-size: 24px;
  font-weight: lighter;
}
.recent-post-row {
  margin-top: 24px;
  border-bottom: 1px dashed #eee;
  padding-left: 16px;
}
.recent-posts-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #666;
}
.recent-posts-title:hover {
  color: #3190e8;
}
.recent-posts-meta {
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}
.pagination {
  width: 100%;
}
.pagination .pagination-number {
  text-align: center;
}
.pagination .pagination-indicator .prev-page,
.pagination .pagination-indicator .prev-post {
  float: right;
}
.pagination .pagination-indicator .next-page,
.pagination .pagination-indicator .next-post {
  float: left;
}
.post-title,
.post-meta {
  text-align: center;
}
.post-wrapper {
  line-height: 1.9;
  font-size: 1.2em;
}
.post-wrapper img {
  margin: auto;
  display: block;
  padding: 16px;
}
.post-wrapper figure {
  margin: auto;
}
.archive aside {
  display: inline-block;
  min-width: 280px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin: 16px;
}
.archive aside .archive-title {
  border-bottom: 1px dashed #ccc;
  color: #666;
  padding-bottom: 8px;
}
.archive aside ul {
  list-style: none;
  padding-top: 8px;
  padding-left: 16px;
}
.archive aside ul li {
  display: inline-block;
  margin: 8px;
}
.archive aside ul a {
  color: #3190e8;
}
.archive-item-title,
.tag-item-title,
.category-title,
.friend-title {
  font-size: 32px;
  border-bottom: 1px solid #eee;
}
.archive-item,
.tag-item,
.category-item {
  padding-left: 32px;
  margin-top: 16px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 8px;
}
.archive-item time,
.tag-item time,
.category-item time {
  color: #999;
}
.archive-item a,
.tag-item a,
.category-item a {
  color: #666;
  font-size: 24px;
}
.archive-item a:hover,
.tag-item a:hover,
.category-item a:hover {
  color: #3190e8;
}
.eleme-friend-link-item {
  text-align: center;
  margin-top: 16px;
}
.eleme-friend-link-item img {
  height: 88px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.eleme-friend-link-item .eleme-friend-link-itemwrap {
  margin-top: 16px;
  color: #666;
}
.eleme-friend-link-item .eleme-friend-link-title {
  color: #333;
  font-size: 1.2em;
}
figure table {
  border: none;
}
figure pre {
  border: none;
  background-color: transparent;
}
